* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 1rem;
  background: #000;
}
.container {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 1rem;
}

.current-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 2.5rem;
  border: 1px solid goldenrod;
  border-radius: 50px;
}

.min-divider {
  color: goldenrod;
  position: absolute;
  top: 4px;
  left: 30%;
  height: 2.5rem;
  font-size: 1.5rem;
}
.sec-divider {
  color: goldenrod;
  position: absolute;
  top: 4px;
  left: 65%;
  height: 2.5rem;
  font-size: 1.5rem;
}

ul {
  max-width: 15%;
  min-width: 10%;
  position: absolute;
  top: 48vh;
  left: 55%;
  transition: top 0.5s ease;
  /* transform: translate(-50%, -50%); */
}

li {
  color: goldenrod;
  list-style-type: none;
  height: 5vh;
  width: 100%;
  font-size: 1.5rem;
  opacity: 0.3;
  transform: scale(0.7);
  transition: transform 0.9s ease;
}
li.current {
  opacity: 1;
  transform: scale(1);
}
.hour-first-num {
  top: 48vh;
  left: 12%;
}

.hour-second-num {
  top: 48vh;
  left: 22%;
}

.minitues-fisrt-num {
  top: 48vh;
  left: 42%;
}
.minitues-second-num {
  top: 48vh;
  left: 52%;
}
.seconds-num {
  top: 48vh;
  left: 72%;
}
.second-seconds-num {
  top: 48vh;
  left: 82%;
}

@media (min-width: 768px) {
  .current-time {
    width: 70%;
    height: 3rem;
  }

  .min-divider {
    left: 33%;
  }
  .sec-divider {
    left: 70%;
  }

  .hour-first-num {
    left: 24%;
  }

  .hour-second-num {
    left: 32%;
  }

  .minitues-fisrt-num {
    left: 45%;
  }
  .minitues-second-num {
    left: 55%;
  }
  .seconds-num {
    left: 70%;
  }
  .second-seconds-num {
    left: 76%;
  }
}
@media (min-width: 1024px) {
  .current-time {
    width: 60%;
    top: 49%;
  }

  .min-divider {
    top: 8px;
    left: 33%;
  }
  .sec-divider {
    top: 8px;
    left: 68%;
  }

  .hour-first-num {
    left: 27%;
  }

  .hour-second-num {
    left: 34%;
  }

  .minitues-fisrt-num {
    left: 46%;
  }
  .minitues-second-num {
    left: 54%;
  }
  .seconds-num {
    left: 73%;
  }
  .second-seconds-num {
    left: 66%;
  }
}
@media (min-width: 1440px) {
  .current-time {
    width: 50%;
    top: 50%;
  }

  .min-divider {
    top: 8px;
    left: 31%;
  }
  .sec-divider {
    top: 8px;
    left: 65%;
  }

  .hour-first-num {
    left: 30%;
  }

  .hour-second-num {
    left: 36%;
  }

  .minitues-fisrt-num {
    left: 45%;
  }
  .minitues-second-num {
    left: 51%;
  }
  .seconds-num {
    left: 63%;
  }
  .second-seconds-num {
    left: 69%;
  }
}
